<div class="jumbotron text-center">
  <h1>Excel Keeper</h1>
  <p class="lead">Welcome to our custom MEAN-based app used for uploading, processing and storing Excel files.</p>
  <div>
    <a *ngIf="!authService.loggedIn()" class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a *ngIf="!authService.loggedIn()" class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A Node.js/Express server with the help of Mongoose is used to organize models and query the database.
      Files are checked, uploaded and kept a MongoDB database.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular 2 Frontend</h3>
    <p>Angular-CLI was used to generate components, services and more. The perfect base for a Single-Page Application.</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Full featured authentification using JSON web tokens. Each user has access only to his or her files.</p>
  </div>
</div>
